* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #A1A2A5;
  height: 100vh;
  padding: 20px;

}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

}

.button-group button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  border-radius: 8px;
  background-color: #6c757d;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;

}

.button-group button:hover {
  background-color: #5a6268;
  transform: translateY(-3px);

}

.button-group button:active {
  transform: translateY(1px);

}


/* CSS for Board */

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blue;
  padding: 2em;
  width: 50vw;
  border-radius: 3%;
}

.row {
  display: flex;
}

.cell {
  width: 7em;
  height: 7em;
  border: 0.0625em solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.piece {
  width: 6em;
  height: 6em;
  border-radius: 50%;
}

.red-piece {
  background-color: red;
}

.yellow-piece {
  background-color: yellow;
}

.empty-piece {
  background-color: #A1A2A5;
}

/* End to Board CSS*/