* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* CSS for Board */

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blue;
  padding: 1.5em;
  width: 600px;
  border-radius: 3%;
}

.row {
  display: flex;
}

.cell {
  width: 5em;
  height: 5em;
  border: 0.0625em solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.piece {
  width: 4em;
  height: 4em;
  border-radius: 50%;
}

.red-piece {
  background-color: red;
}

.yellow-piece {
  background-color: yellow;
}

.empty-piece {
  background-color: #A1A2A5;
}



/* End to Board CSS*/

/* Game layout */
.container {
  display: flex;
  flex-direction: row;
  background-color: #A1A2A5;
  width: 100vw;
  height: 100vh;
  margin-top: 120px;
  align-items: flex-start;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.left-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
  height: 75%;
  flex-direction: column;
  background-color: #A1A2A5;
}

.player-turn {
  font-size: 28px;
  color: black;
  flex-grow: 10;
}

.winner-message {
  font-size: 28px;
  color: black;
  flex-grow: 10;
}

.right-column {
  display: flex;
  align-items: center;
  width: 70vw;
  height: 100%;
  flex-direction: column;
  background-color: #A1A2A5;
}

.board-container , .player-turn-container{
  flex-grow: 10;
  margin-top: 5vh;
}
.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: content;
  margin-bottom: 5vh;
}

.quit-game-btn , .reset-btn {
  padding: 15px 30px;
  border-radius: 8px;
  background-color: #6c757d;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 5px;
}

.player-profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid black; 
  margin: 25px;
}

@media (max-width: 900px) {
  .left-column {
    flex-direction: row;
    width: auto;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .board-container , .player-turn-container{
  margin: 5px;
}
.btn-container {
  margin: 5px;
}
.quit-game-btn , .reset-btn {
  padding: 9px 15px;
  border-radius: 8px;
  margin: 5px;
  font-size: 11px;
  font-weight: normal;
}
  
}
@media (max-width: 660px) {
  .game-board {
  padding: 1.5em;
  width: 360px;
  border-radius: 3%;
}
.cell {
  width: 3em;
  height: 3em;
}

.piece {
  width: 2.5em;
  height: 2.5em;
}
  .left-column {
    flex-direction: column;
    width: auto;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .board-container , .player-turn-container{
  margin: 5px;
}
.btn-container {
  margin: 5px;
}
  
}


/* End to Game layout */