* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #A1A2A5; 
}

/* CSS for Board */

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blue;
  padding: 1.5em;
  width: 600px;
  border-radius: 3%;
}

.row {
  display: flex;
}

.cell {
  width: 5em;
  height: 5em;
  border: 0.0625em solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.piece {
  width: 4em;
  height: 4em;
  border-radius: 50%;
}

.red-piece {
  background-color: red;
}

.yellow-piece {
  background-color: yellow;
}

.empty-piece {
  background-color: #A1A2A5;
}



/* End to Board CSS*/

/* Game layout */
.container {
  display: flex;
  flex-direction: column;
  background-color: #A1A2A5;
  width: 100vw;
  max-width: 1200px;
  min-height: 100vh;
  margin-top: 180px;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 60px;
  margin: auto;
}


.left-column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  flex-direction: row;
  background-color: #A1A2A5;
}

.player-turn {
  font-size: 19px;
  color: black;
  flex-grow: 10;
}

.winner-message {
  font-size: 28px;
  color: black;
  flex-grow: 10;
}

.right-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: auto;
  flex-direction: row;
  background-color: #A1A2A5;
}

.player-turn-container{
  display: flex;
  flex-direction: row;
  flex-grow: 20;
  margin-top: 5vh;
  height: 170px;
}
.turn-info {
  display: flex;
  align-items: center;
  padding: 50px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: content;
  margin-right: 40px;
}

.score-board {
  padding: 10px;
  margin: 10px;
  line-height: 30px;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  line-height: 30px;
}

.quit-game-btn , .reset-btn {
  padding: 15px 30px;
  border-radius: 8px;
  background-color: #6c757d;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 5px;
}

.player-profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid black; 
  margin: 20px;
}

.logo-game {
  display: none;
}

@media (min-width:1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 900px) {
  .container {
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
  }
  .game-board {
  padding: 1.5em;
  width: 360px;
  border-radius: 3%;
}
.cell {
  width: 3em;
  height: 3em;
}

.piece {
  width: 2.5em;
  height: 2.5em;
}
  

  .player-turn, .winner-message {
    font-size: 19px;
  }
  .board-container {
  margin: 5px;
}
.quit-game-btn , .reset-btn {
  padding: 9px 15px;
  border-radius: 8px;
  margin: 5px;
  font-size: 11px;
  font-weight: normal;
}
.right-wrapper {
  flex-direction: column;
}
.right-column {
    order: 1;
  }
.btn-container {
  order: 2;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
  
}
@media (max-width: 660px) {
  .container {
    margin-top: 70px;
  }
  .game-board {
  padding: 1.2em;
  width: 350px;
  border-radius: 3%;
}
.cell {
  width: 3em;
  height: 3em;
}

.piece {
  width: 2.5em;
  height: 2.5em;
}
  .left-column {
    flex-direction: column;
    width: auto;
  }
  
  .board-container , .player-turn-container{
  margin: 5px;
}
}

@media (max-width: 380px) {
  .game-board {
  padding: 1em;
  width: 310px;
  border-radius: 3%;
}
.cell {
  width: 2.5em;
  height: 2.5em;
}

.piece {
  width: 2em;
  height: 2em;
}
}


/* End to Game layout */

@media screen and (max-width: 900px) and (orientation: landscape) {
  
  .container {
    flex-direction: column; 
    margin-top: 0;
    padding-top: 0;
  }

  .right-wrapper {
    flex-direction: row;
  }

  .btn-container {
    flex-direction: row; /* Gör att knapparna ligger bredvid varandra */
    justify-content: space-evenly;
  }

  .player-profile-image {
    width: 60px; 
    height: 60px;
  }
  .game-board {
  padding: 0.8em;
  width: 245px;
  border-radius: 3%;
}
.cell {
  width: 1.9em;
  height: 1.9em;
}

.piece {
  width: 1.5em;
  height: 1.5em;
}
.right-column {
    order: 2;
  }
.btn-container {
  order: 1;
}
.player-turn, .winner-message {
    font-size: 14px;
  }
  .player-turn-container{
    display: flex;
    flex-direction: column;
  margin-top: 0.1vh;
  height: 155px;
}
.turn-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50%;
  width: 100%;
  padding: 10px;
}
.score-board h2 {
  font-size: 19px;
}
.logo-game {
  display: inline;
  width: 150px;
  padding: 13px;
}
}